.App {
  text-align: center;
}

.App-logo {
  height: 8rem;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: seashell;
}

.App-title{
  font-size: 4rm;
}
.App-link {
  color: darkblue;
}

.coin-table {
  margin: 50px auto 50px auto;
  border: 1px;
  display:inline-block;
  font-size: 1.4rem;
  background-color: seashell;
  color: black;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
